@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
*{
    font-family: Lobster Two;
}
.tudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 2px black;
    color: darkkhaki;

}
.letra{
    display: flex;
    justify-content: center;
}

.bau{
    display: flex;
    text-align: center;
    font-size: 20px;
    padding: 20px ;
    padding-right: 160px;

}
.home{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 40px;
    padding: 20px ;
    padding-right: 160px;
    background-image: url(https://i.pinimg.com/originals/b4/b2/bf/b4b2bfadb7857fd4921af265022390bf.jpg);
 
    background-size: cover;
}
.fale{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-size: 20px;
    
    padding: 30px;
    padding-right: 160px;
    background-image: url(https://i.pinimg.com/originals/b4/b2/bf/b4b2bfadb7857fd4921af265022390bf.jpg);
    
    background-size: cover;
}

.sobre{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 20px;
    padding: 30px;
    padding-right: 160px;
    background-image: url(https://i.pinimg.com/736x/c4/e5/8c/c4e58c902097b95ddc1aef4eb023efb0.jpg);
   color: black;
    background-size: cover;
}

.doa{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 20px;
    padding: 40px;
    padding-right: 170px;
    background-image: url(https://i.pinimg.com/736x/c4/e5/8c/c4e58c902097b95ddc1aef4eb023efb0.jpg);
  color: black;
    background-size: cover;
}
