.caixa{
    height: 150px;
    width: 150px;
    background-color: brown;
}
.caixa2{
    height: 150px;
    width: 150px;
    background-color: rgb(67, 165, 42);
}
.caixa3{
    height: 150px;
    width: 150px;
    background-color: rgb(147, 165, 42);
}
.caixa4{
    height: 150px;
    width: 150px;
    background-color: rgb(165, 42, 118);
}
.paicaixa{
    display:flex ;
    border:  1px;
}
.paicaixa2{
    display:flex ;
    border:  1px;}
    .centro{text-align: center;
    padding: 60px;
}




body{background-image:url(https://th.bing.com/th/id/R.445f9752b0d28b4165239c614161c7d2?rik=dzJKBKrRJ%2fvDsw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2ff%2ff%2f7%2f527020.jpg&ehk=K6%2fY82da2ucdtFqBvXbeJilcVs5ZC4FUaZEYTSfIYr0%3d&risl=&pid=ImgRaw&r=0);
background-repeat: no-repeat;
background-size: cover;}